*{
    margin: 0px;
    padding: 0px;
}
.no-padding-margin{
    margin: 0px;
    padding: 0px;
}

.header{
    background-color: #6497b1;
}
.header ul{
    list-style-type: none;
}
.header ul li a{
    display: inline-block;
}

.navbar {
    background-color: #6497b1;
    padding: 13px 0px;
}
.nav-search input{
    margin: 0px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid white;
}
.nav-search button{
    border: 2px solid white;
    border: 2px 2px 2px 0px
}

.navbar-list-option ul{
    display: flex;
        justify-content: center; 
}

.navbar-list-option ul li i{
    font-size: 20px;
}



