*{
    margin: 0px;
    padding: 0px;
}

.header{
    background-color: #6497b1;
}
.header ul{
    list-style-type: none;
}
.header ul li a{
    display: inline-block;
}

.navbar {
    background-color: #6497b1;
}
.nav-search input{
    background-color: ;
}