<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/webapp_
2_5.xsd">
<servlet>
<servlet-name>Authenticator</servlet-name>
<servlet-class>com.thinking.machine.tmchat.servlet.Authenticator</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Authenticator</servlet-name>
<url-pattern>/authenticate</url-pattern>
</servlet-mapping>
 <servlet>
<servlet-name>usernameAvailability</servlet-name>
<servlet-class>com.thinking.machine.tmchat.servlet.usernameAvailabilityVerifier</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>usernameAvailability</servlet-name>
<url-pattern>/isUsernameAvailable</url-pattern>
</servlet-mapping>
 
<servlet>
<servlet-name>userCreator</servlet-name>
<servlet-class>com.thinking.machine.tmchat.servlet.userCreator</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>userCreator</servlet-name>
<url-pattern>/register</url-pattern>
</servlet-mapping>






<servlet>
<servlet-name>closeAccount</servlet-name>
<servlet-class>com.thinking.machine.tmchat.servlet.CloseAccount</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>closeAccount</servlet-name>
<url-pattern>/closeAccount</url-pattern>
</servlet-mapping>








<servlet>
<servlet-name>Logout</servlet-name>
<servlet-class>com.thinking.machine.tmchat.servlet.Logout</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Logout</servlet-name>
<url-pattern>/Logout</url-pattern>
</servlet-mapping>




<servlet>
<servlet-name>ProfileUpdater</servlet-name>
<servlet-class>com.thinking.machine.tmchat.servlet.ProfileUpdater</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ProfileUpdater</servlet-name>
<url-pattern>/ProfileUpdater</url-pattern>
</servlet-mapping>
 


<servlet>
<servlet-name>friendRequest</servlet-name>
<servlet-class>com.thinking.machine.tmchat.servlet.addFriendRequest</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>friendRequest</servlet-name>
<url-pattern>/friendRequest</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>addMessage</servlet-name>
<servlet-class>com.thinking.machine.tmchat.servlet.AddMessage</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>addMessage</servlet-name>
<url-pattern>/addMessage</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>friendRequestAccepter</servlet-name>
<servlet-class>com.thinking.machine.tmchat.servlet.acceptFriendRequest</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>friendRequestAccepter</servlet-name>
<url-pattern>/friendRequestAccepter</url-pattern>
</servlet-mapping>




<servlet>
<servlet-name>removeFriend</servlet-name>
<servlet-class>com.thinking.machine.tmchat.servlet.removeFriend</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>removeFriend</servlet-name>
<url-pattern>/removeFriend</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>removeFriendRequest</servlet-name>
<servlet-class>com.thinking.machine.tmchat.servlet.RemoveFriendRequest</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>removeFriendRequest</servlet-name>
<url-pattern>/removeFriendRequest</url-pattern>
</servlet-mapping>





<servlet>
<servlet-name>newConnection</servlet-name>
<servlet-class>com.thinking.machine.tmchat.servlet.newConnections</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>newConnection</servlet-name>
<url-pattern>/newConnections</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>UserAvatar</servlet-name>
<servlet-class>com.thinking.machine.tmchat.servlet.UserAvatar</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserAvatar</servlet-name>
<url-pattern>/userAvatar</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>JOJO</servlet-name>
<servlet-class>com.thinking.machine.tmchat.servlet.FriendList</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>JOJO</servlet-name>
<url-pattern>/getFriend</url-pattern>
</servlet-mapping>





<servlet>
<servlet-name>JAJA</servlet-name>
<servlet-class>com.thinking.machine.tmchat.servlet.MessageList</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>JAJA</servlet-name>
<url-pattern>/getMessage</url-pattern>
</servlet-mapping>




<servlet>
<servlet-name>addFriend</servlet-name>
<servlet-class>com.thinking.machine.tmchat.servlet.addFriendRequest</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>addFriend</servlet-name>
<url-pattern>/addFriendRequest</url-pattern>
</servlet-mapping>




<servlet>
<servlet-name>requestFriend</servlet-name>
<servlet-class>com.thinking.machine.tmchat.servlet.FriendRequest</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>requestFriend</servlet-name>
<url-pattern>/newRequests</url-pattern>
</servlet-mapping>




<servlet>
<servlet-name>acceptFriend</servlet-name>
<servlet-class>com.thinking.machine.tmchat.servlet.acceptFriendRequest</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>acceptFriend</servlet-name>
<url-pattern>/acceptFriendRequest</url-pattern>
</servlet-mapping>





<servlet>
<servlet-name>rejectFriend</servlet-name>
<servlet-class>com.thinking.machine.tmchat.servlet.RemoveFriendRequest</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>rejectFriend</servlet-name>
<url-pattern>/rejectRequest</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>updateProfile</servlet-name>
<servlet-class>com.thinking.machine.tmchat.servlet.ProfileUpdater</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>updateProfile</servlet-name>
<url-pattern>/profileUpdater</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>closeAccount</servlet-name>
<servlet-class>com.thinking.machine.tmchat.servlet.CloseAccount</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>closeAccount</servlet-name>
<url-pattern>/deleteAccount</url-pattern>
</servlet-mapping>




</web-app>